
/*NAVIGATION*/

.navbar .navbar-brand {
    font-size: 30px;
    padding: 20px 20px;
    color: #27272B;
}

.navbar-default {
    border-radius: 0;
    background-color: white;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #2C2C2C;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-default .navbar-nav > li > a:not(.btn):hover {
    color: #b20000;
}

.navbar-default .navbar-nav > li > a:not(.btn):focus {
    color: #b20000;
}

.dropdown-menu > li > a {
    color: #333439;
    font-size: 13px;
    text-transform: uppercase;
}

.dropdown-menu > li > a:hover {
    background-color: #353636;
    color: #b20000;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    color: #b20000;
    border-bottom-color: #b20000;
    border-top-color: #b20000;
}

ul .dropdown-menu {
    background-color: white;
}

/*JUMBOTRON*/

.jumbotron {
    height: 400px;
    text-align: center;
    color: #333439;
}

/*MISCELLANEOUS CLASSES*/

.x {
    color: #B20000;
}

h1,h2,h3,h4,h5,h6 {
    color: #333439;
}

p {
    color: #333439;
}

/*CONTACT FORM*/

.contact {
    text-align: center;
    color: #333439;
}

.contact .form-group textarea {
    height: 200px;
}

input {
    background-color: red;
}

/*CAROUSEL*/

#myCarousel {
    height: 500px;
}

.item {
    height: 500px;
}

.carousel-control .glyphicon {
    font-size: 1em;
    top: 67%;
}

.carousel-inner .item {
    padding: 0;
}

.carousel-inner .item img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
}

.carousel-caption {
    bottom: 35%;
}

.carousel-caption h2,{
    color: white;
}

/*QUICKINFO*/

.col-md-4 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.col-md-4 .glyphicon {
    font-size: 30px;
}

/*MOBILE DEVICES*/

@media only screen and (max-width: 767px) {

    .dropdown-menu .divider{
        margin-top: 15px;
    }

    .navbar-nav {
        text-transform: uppercase;
    }

    .navbar-nav {
        background-color: #333439;
    }

}

@media only screen and (max-width: 1024px) {
    #myCarousel {
       height: 300px !important;
    }

    .item {
        height: 300px !important;
    }

    .carousel-caption {
        bottom: 20%;
    }
}

@media only screen and (max-width: 610px) {
    #myCarousel {
       height: 190px !important;
    }

    .item {
        height: 190px !important;
    }

    .carousel-caption {
        bottom: 20%;
    }
}





